
footer {
    background-color: var(--boja1);
    text-align: center;
    padding: 0.3rem;
    color: var(--boja2);

    .fbox1 {
        font-size: 2rem;
        width: 150px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;


        a {
            color: var(--boja2);
        }
    }
    .fbox2 {

    }
}