
.header {
    height: 100vh;
    background-color: var(--teget3);
    color: var(--braon2);

   
    .header-slika {
        filter: opacity(30%);
        
    }

    .velika-slika {
        display: block;
    }

    .mala-slika {
        display: none;
    }




    @media screen and (max-width: 540px) {
        .velika-slika {
            display: none;
        }

        .mala-slika {
            display: block;
        }
    }

}