
.header {
    height: 100vh;
    background-color: black;
    color: var(--bela3);

    // .pokrivac {
    //     width: 100%;
    //     height: 100vh;
    //     position: absolute;
    //     top: 0;
    //     z-index: 8;
    //     background-color: black;
    //     opacity: 0.6;

    // }

   
    .header-slika {
        filter: opacity(40%);
        
    }

    .velika-slika {
        display: block;
    }

    .mala-slika {
        display: none;
    }




    @media screen and (max-width: 500px) {
        .velika-slika {
            display: none;
        }

        .mala-slika {
            display: block;
        }
    }

}