
.telo-pesme {
    max-width: 400px;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    background-color: var(--plava5);
    padding: 4rem 0;

    // border: 1px solid red;

    
    .naslov-datum {
        margin-bottom: 1rem;

        .naslov-pesme {
            color: var(--teget3);
            font-family: var(--font1);
        }
        .datum-pesme {
            text-align: left;
            color: var(--siva3);
            font-style: italic;
            padding-left: 2.5rem;
        }
        .objavljeno {
            color: var(--siva3);
            font-size: 0.8rem;
        }
    }

    .sadrzaj {
        color: var(--bela3)
  
        
    }

}