@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


.pesma-kontejner {
    max-width: 400px;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    padding: 5rem 0;

    .naslov-datum {
        margin-bottom: 1rem;

        .naslov {
            color: var(--teget3);
            font-family: var(--font1);
        }

        .datum {
            text-align: left;
            padding-left: 2.5rem;
            color: var(--siva3);
        }
        .objavljeno {
            text-align: left;
            color: var(--siva3);
            font-size: 0.8rem;
        }
    }


    .tekst-pesme {
        white-space: pre-wrap;
        color: var(--bela3);
        font-family: Calibri, serif;
    }

    button {
        margin-top: 2rem;
        width: 50%;
        padding: 0.5rem;
        border: none;
        border-radius: 10px;
        background-color: var(--siva3);

        a {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
            color: var(--braon2);

        }
    }


}